## Jess's DIGBlood IPython notebook

In [19]:
# Import stuff
import pandas as pd
import numpy as np
import statsmodels as sm
from scipy.stats import pearsonr

In [20]:
df = pd.DataFrame.from_csv('/Users/jesskerlin/Documents/GitHub/digblood/blood_train.csv')

In [21]:
#Show the first few lines of the database
df[:5]

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
619,2,50,12500,98,1
664,0,13,3250,28,1
441,1,16,4000,35,1
160,2,20,5000,45,1
358,1,24,6000,77,0

In [15]:

pearsonr(df['Number of Donations'],df['Total Volume Donated (c.c.)'])

(1.0, 0.0)

What? 100 percent correlated?

In [34]:
from __future__ import division
print df['Total Volume Donated (c.c.)']/df['Number of Donations']

619    250.0
664    250.0
441    250.0
160    250.0
358    250.0
335    250.0
47     250.0
164    250.0
736    250.0
436    250.0
460    250.0
285    250.0
499    250.0
356    250.0
40     250.0
191    250.0
638    250.0
345    250.0
463    250.0
372    250.0
8      250.0
539    250.0
734    250.0
573    250.0
482    250.0
330    250.0
222    250.0
175    250.0
606    250.0
340    250.0
       ...
577    250.0
118    250.0
532    250.0
338    250.0
365    250.0
173    250.0
715    250.0
2      250.0
387    250.0
738    250.0
610    250.0
450    250.0
232    250.0
440    250.0
183    250.0
60     250.0
58     250.0
49     250.0
674    250.0
204    250.0
361    250.0
30     250.0
337    250.0
496    250.0
169    250.0
698    250.0
433    250.0
360    250.0
541    250.0
74     250.0
dtype: float64

In [ ]:
OK