## Jess's DIGBlood IPython notebook

In [19]:
# Import stuff
import pandas as pd
import numpy as np
import statsmodels as sm
from scipy.stats import pearsonr

In [20]:
df = pd.DataFrame.from_csv('/Users/jesskerlin/Documents/GitHub/digblood/blood_train.csv')

In [21]:
#Show the first few lines of the database
df[:5]

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
619,2,50,12500,98,1
664,0,13,3250,28,1
441,1,16,4000,35,1
160,2,20,5000,45,1
358,1,24,6000,77,0

In [15]:

pearsonr(df['Number of Donations'],df['Total Volume Donated (c.c.)'])

(1.0, 0.0)

What? 100 percent correlated?

In [34]:
from __future__ import division
print df['Total Volume Donated (c.c.)']/df['Number of Donations']

619    250.0
664    250.0
441    250.0
160    250.0
358    250.0
335    250.0
47     250.0
164    250.0
736    250.0
436    250.0
460    250.0
285    250.0
499    250.0
356    250.0
40     250.0
191    250.0
638    250.0
345    250.0
463    250.0
372    250.0
8      250.0
539    250.0
734    250.0
573    250.0
482    250.0
330    250.0
222    250.0
175    250.0
606    250.0
340    250.0
       ...
577    250.0
118    250.0
532    250.0
338    250.0
365    250.0
173    250.0
715    250.0
2      250.0
387    250.0
738    250.0
610    250.0
450    250.0
232    250.0
440    250.0
183    250.0
60     250.0
58     250.0
49     250.0
674    250.0
204    250.0
361    250.0
30     250.0
337    250.0
496    250.0
169    250.0
698    250.0
433    250.0
360    250.0
541    250.0
74     250.0
dtype: float64

In [35]:
df.keys

<bound method DataFrame.keys of      Months since Last Donation  Number of Donations  \
619                           2                   50
664                           0                   13
441                           1                   16
160                           2                   20
358                           1                   24
335                           4                    4
47                            2                    7
164                           1                   12
736                           5                   46
436                           0                    3
460                           2                   10
285                           1                   13
499                           2                    6
356                           2                    5
40                            2                   14
191                           2                   15
638                           2                    6
345                           2                    3
463                           2                    3
372                           4                   11
8                             2                    6
539                           2                    6
734                           4                   14
573                           4                    6
482                           4                    8
330                           1                   14
222                           4                   10
175                           4                   10
606                           2                   16
340                           2                    8
..                          ...                  ...
577                          11                    4
118                          21                    6
532                          23                    2
338                          23                    6
365                          14                    2
173                          16                    4
715                          16                    5
2                            21                    2
387                          21                    3
738                          23                    8
610                          21                    3
450                          21                    3
232                          21                    1
440                          21                    1
183                          25                    6
60                           21                    1
58                           21                    1
49                           23                    3
674                          21                    2
204                          14                    3
361                          23                    1
30                           23                    1
337                          23                    1
496                          23                    1
169                          23                    1
698                          23                    1
433                          16                    3
360                          21                    2
541                          39                    1
74                           72                    1

     Total Volume Donated (c.c.)  Months since First Donation  \
619                        12500                           98
664                         3250                           28
441                         4000                           35
160                         5000                           45
358                         6000                           77
335                         1000                            4
47                          1750                           14
164                         3000                           35
736                        11500                           98
436                          750                            4
460                         2500                           28
285                         3250                           47
499                         1500                           15
356                         1250                           11
40                          3500                           48
191                         3750                           49
638                         1500                           15
345                          750                            4
463                          750                            4
372                         2750                           28
8                           1500                           16
539                         1500                           16
734                         3500                           40
573                         1500                           14
482                         2000                           21
330                         3500                           58
222                         2500                           28
175                         2500                           28
606                         4000                           64
340                         2000                           28
..                           ...                          ...
577                         1000                           74
118                         1500                           48
532                          500                           23
338                         1500                           45
365                          500                           35
173                         1000                           58
715                         1250                           71
2                            500                           26
387                          750                           35
738                         2000                           69
610                          750                           38
450                          750                           40
232                          250                           21
440                          250                           21
183                         1500                           50
60                           250                           21
58                           250                           21
49                           750                           39
674                          500                           33
204                          750                           79
361                          250                           23
30                           250                           23
337                          250                           23
496                          250                           23
169                          250                           23
698                          250                           23
433                          750                           86
360                          500                           52
541                          250                           39
74                           250                           72

     Made Donation in March 2007
619                            1
664                            1
441                            1
160                            1
358                            0
335                            0
47                             1
164                            0
736                            1
436                            0
460                            1
285                            0
499                            1
356                            1
40                             1
191                            1
638                            1
345                            1
463                            1
372                            0
8                              1
539                            1
734                            0
573                            0
482                            0
330                            0
222                            1
175                            1
606                            0
340                            1
..                           ...
577                            0
118                            0
532                            0
338                            0
365                            1
173                            0
715                            0
2                              0
387                            0
738                            0
610                            0
450                            0
232                            0
440                            0
183                            0
60                             0
58                             0
49                             0
674                            0
204                            0
361                            1
30                             0
337                            0
496                            0
169                            0
698                            0
433                            0
360                            0
541                            0
74                             0

[576 rows x 5 columns]>

In [39]:
mean = df['Made Donation in March 2007'].mean()
df['Means'] = np.ones([576,1])*mean

In [40]:
df

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,Means
619,2,50,12500,98,1,0.239583
664,0,13,3250,28,1,0.239583
441,1,16,4000,35,1,0.239583
160,2,20,5000,45,1,0.239583
358,1,24,6000,77,0,0.239583
335,4,4,1000,4,0,0.239583
47,2,7,1750,14,1,0.239583
164,1,12,3000,35,0,0.239583
736,5,46,11500,98,1,0.239583
436,0,3,750,4,0,0.239583
460,2,10,2500,28,1,0.239583
285,1,13,3250,47,0,0.239583
499,2,6,1500,15,1,0.239583
356,2,5,1250,11,1,0.239583
40,2,14,3500,48,1,0.239583
191,2,15,3750,49,1,0.239583
638,2,6,1500,15,1,0.239583
345,2,3,750,4,1,0.239583
463,2,3,750,4,1,0.239583
372,4,11,2750,28,0,0.239583
8,2,6,1500,16,1,0.239583
539,2,6,1500,16,1,0.239583
734,4,14,3500,40,0,0.239583
573,4,6,1500,14,0,0.239583
482,4,8,2000,21,0,0.239583
330,1,14,3500,58,0,0.239583
222,4,10,2500,28,1,0.239583
175,4,10,2500,28,1,0.239583
606,2,16,4000,64,0,0.239583
340,2,8,2000,28,1,0.239583
...,...,...,...,...,...,...
577,11,4,1000,74,0,0.239583
118,21,6,1500,48,0,0.239583
532,23,2,500,23,0,0.239583
338,23,6,1500,45,0,0.239583
365,14,2,500,35,1,0.239583
173,16,4,1000,58,0,0.239583
715,16,5,1250,71,0,0.239583
2,21,2,500,26,0,0.239583
387,21,3,750,35,0,0.239583
738,23,8,2000,69,0,0.239583
610,21,3,750,38,0,0.239583
450,21,3,750,40,0,0.239583
232,21,1,250,21,0,0.239583
440,21,1,250,21,0,0.239583
183,25,6,1500,50,0,0.239583
60,21,1,250,21,0,0.239583
58,21,1,250,21,0,0.239583
49,23,3,750,39,0,0.239583
674,21,2,500,33,0,0.239583
204,14,3,750,79,0,0.239583
361,23,1,250,23,1,0.239583
30,23,1,250,23,0,0.239583
337,23,1,250,23,0,0.239583
496,23,1,250,23,0,0.239583
169,23,1,250,23,0,0.239583
698,23,1,250,23,0,0.239583
433,16,3,750,86,0,0.239583
360,21,2,500,52,0,0.239583
541,39,1,250,39,0,0.239583
74,72,1,250,72,0,0.239583