## Jess's DIGBlood IPython notebook

In [1]:
# Import stuff
%matplotlib inline
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import scipy
from scipy.stats import pearsonr
from __future__ import division
import matplotlib.pyplot as plt
from statsmodels.nonparametric.smoothers_lowess import lowess

//anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
df = pd.DataFrame.from_csv('/Users/jesskerlin/Documents/GitHub/digblood/data/raw/blood_train.csv')
df.columns = [c.replace(' ', '_') for c in df.columns]

In [3]:
#Show the first few lines of the database
df[:5]

,Months_since_Last_Donation,Number_of_Donations,Total_Volume_Donated_(c.c.),Months_since_First_Donation,Made_Donation_in_March_2007
619,2,50,12500,98,1
664,0,13,3250,28,1
441,1,16,4000,35,1
160,2,20,5000,45,1
358,1,24,6000,77,0

In [4]:
pearsonr(df['Number_of_Donations'],df['Total_Volume_Donated_(c.c.)'])

(1.0, 0.0)

In [133]:
df['MLDCount'] = df[['Made_Donation_in_March_2007','Months_since_Last_Donation']].groupby('Months_since_Last_Donation').transform(lambda x: x.count())
df[['Made_Donation_in_March_2007','MLDCount']].groupby('MLDCount').mean()

          Made_Donation_in_March_2007
MLDCount
1                            0.400000
2                            0.250000
3                            0.000000
4                            0.333333
5                            0.133333
9                            0.222222
10                           0.300000
17                           0.176471
36                           0.027778
37                           0.081081
48                           0.062500
60                           0.141667
115                          0.339130
140                          0.400000

In [50]:
def meanRevertBins(predictorLabel,actualLabel,meanRevCount):
    dataMean = df[[predictorLabel,actualLabel]].groupby([predictorLabel]).mean()
    dataCount = df[[predictorLabel,actualLabel]].groupby([predictorLabel]).count()
    pred = (dataMean*dataCount+np.mean(dataMean)*meanRevCount)/(dataCount+meanRevCount)
    x = pred.index
    y = pred.values
    
    return x,y

In [93]:
# From http://stackoverflow.com/questions/18517722/weighted-moving-average-in-python 
def uniPredict(x,y,testx,fillval=0):
    pred = np.array([])        
    for test in testx:
        if test in x:
            pred = np.append(pred,y[test==x])
        else:
            pred = np.append(pred,fillval)
    return pred

In [152]:
actualLabel = 'Made_Donation_in_March_2007'
meanRevCount = 3

predictorLabel = 'Months_since_Last_Donation'

x,y = meanRevertBins(predictorLabel,actualLabel,meanRevCount)
fillval = np.mean(df[actualLabel])  
testx = df[predictorLabel]
pred1 = uniPredict(x,y,testx,fillval=fillval)

predictorLabel = 'Months_since_First_Donation'
x,y = meanRevertBins(predictorLabel,actualLabel,meanRevCount)
fillval = np.mean(df[actualLabel])  
testx = df[predictorLabel]
pred2 = uniPredict(x,y,testx,fillval=fillval)

predictorLabel = 'Number_of_Donations'
x,y = meanRevertBins(predictorLabel,actualLabel,meanRevCount)
fillval = np.mean(df[actualLabel])  
testx = df[predictorLabel]
pred3 = uniPredict(x,y,testx,fillval=fillval)

predictorLabel = 'MLDCount'
x,y = meanRevertBins(predictorLabel,actualLabel,meanRevCount)
fillval = np.mean(df[actualLabel])  
testx = df[predictorLabel]
pred4 = uniPredict(x,y,testx,fillval=fillval)

multipred = (pred1+pred2*3+pred3+pred4)/6

In [153]:
# Training evaluation
from sklearn.metrics import log_loss
actual = df[actualLabel]
print 'Training log-loss score ' + str(log_loss(actual,pred1))
print 'Training log-loss score ' + str(log_loss(actual,pred2))
print 'Training log-loss score ' + str(log_loss(actual,pred3))
print 'Training log-loss score ' + str(log_loss(actual,pred4))
print 'Training log-loss score ' + str(log_loss(actual,multipred))

Training log-loss score 0.48873511625
Training log-loss score 0.484721168487
Training log-loss score 0.507067396522
Training log-loss score 0.494623769427
Training log-loss score 0.476482877656