## Jess's DIGBlood IPython notebook

In [103]:
# Import stuff
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from scipy.stats import pearsonr
from __future__ import division
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (<ipython-input-103-59a681c6df98>, line 8)

In [77]:
df = pd.DataFrame.from_csv('/Users/jesskerlin/Documents/GitHub/digblood/blood_train.csv')
df.columns = [c.replace(' ', '_') for c in df.columns]

In [78]:
#Show the first few lines of the database
df[:5]

,Months_since_Last_Donation,Number_of_Donations,Total_Volume_Donated_(c.c.),Months_since_First_Donation,Made_Donation_in_March_2007
619,2,50,12500,98,1
664,0,13,3250,28,1
441,1,16,4000,35,1
160,2,20,5000,45,1
358,1,24,6000,77,0

In [70]:

pearsonr(df['Number_of_Donations'],df['Total_Volume_Donated_(c.c.)'])

(1.0, 0.0)

In [102]:
data = df[['Months_since_Last_Donation','Made_Donation_in_March_2007']].groupby(['Months_since_Last_Donation']).mean()
plt(data)

NameError: name 'plt' is not defined

Since Total Volume Donated adds no information, I won't include it as a feature.

In [86]:
df.drop('Total_Volume_Donated_(c.c.)', axis = 1)
model = smf.ols('Made_Donation_in_March_2007 ~ Months_since_Last_Donation + Number_of_Donations + Months_since_First_Donation', data = df)
result = model.fit()
result.summary()
result.fittedvalues

619    1.106322
664    0.515535
441    0.551485
160    0.600565
358    0.602107
335    0.350350
47     0.405689
164    0.462686
736    0.989065
436    0.366096
460    0.429963
285    0.448608
499    0.380467
356    0.370360
40     0.458298
191    0.477474
638    0.380467
345    0.347123
463    0.347123
372    0.433190
8      0.377443
539    0.377443
734    0.463510
573    0.364517
482    0.387754
330    0.437552
222    0.410990
175    0.410990
606    0.454325
340    0.385564
         ...
577    0.072321
118    0.100459
532    0.068268
338    0.090556
365    0.117367
173    0.073260
715    0.056158
2      0.078171
387    0.073162
738    0.062398
610    0.064092
450    0.058046
232    0.071088
440    0.071088
183    0.056467
60     0.071088
58     0.071088
49     0.042096
674    0.057009
204    0.006546
361    0.046068
30     0.046068
337    0.046068
496    0.046068
169    0.046068
698    0.046068
433   -0.033589
360   -0.000432
541   -0.154085
74    -0.566903
dtype: float64

In [49]:
df.keys()

Index([u'Months since Last Donation', u'Number of Donations',
       u'Total Volume Donated (c.c.)', u'Months since First Donation',
       u'Made Donation in March 2007', u'Means'],
      dtype='object')

In [56]:
mean = df['Made Donation in March 2007'].mean()
df['Means'] = np.ones([576,1])*mean
print df['Means']

619    0.239583
664    0.239583
441    0.239583
160    0.239583
358    0.239583
335    0.239583
47     0.239583
164    0.239583
736    0.239583
436    0.239583
460    0.239583
285    0.239583
499    0.239583
356    0.239583
40     0.239583
191    0.239583
638    0.239583
345    0.239583
463    0.239583
372    0.239583
8      0.239583
539    0.239583
734    0.239583
573    0.239583
482    0.239583
330    0.239583
222    0.239583
175    0.239583
606    0.239583
340    0.239583
         ...
577    0.239583
118    0.239583
532    0.239583
338    0.239583
365    0.239583
173    0.239583
715    0.239583
2      0.239583
387    0.239583
738    0.239583
610    0.239583
450    0.239583
232    0.239583
440    0.239583
183    0.239583
60     0.239583
58     0.239583
49     0.239583
674    0.239583
204    0.239583
361    0.239583
30     0.239583
337    0.239583
496    0.239583
169    0.239583
698    0.239583
433    0.239583
360    0.239583
541    0.239583
74     0.239583
Name: Means, dtype: float64

In [62]:
# Training evaluation
from sklearn.metrics import log_loss
pred = np.array(df.Means)
actual = df['Made Donation in March 2007']
print 'Training log-loss score ' + str(log_loss(actual,pred))

Training log-loss score 0.550599168862